<mat-card>
    <mat-card-header>
        <mat-card-title>
            Yena Marketing Documents
        </mat-card-title>
    </mat-card-header>


    <mat-card-content>

<div class="row">
    <div class="col-12">
        <button mat-raised-button class="float-right mb-5" (click)="viewProperty()" color="accent" > <mat-icon>keyboard_backspace</mat-icon>	&nbsp;&nbsp;List Property</button>
     
    </div>
</div>
       
        
        <div class="row text-center">
            <div class="col-2">
              <a href="assets/test.pdf"> 
                  <img src="assets/images/file.svg" height="70px" alt="">
                 <p >Artists Impressions/Drawings </p>
            </a> 
            </div>
            <div class="col-2">
                <a href="assets/test.pdf"> 
                    <img src="assets/images/file.svg" height="70px" alt="">
                   <p >Pre-sales applications</p>
              </a>
            </div>
            <div class="col-2">
                <a href="assets/test.pdf"> 
                    <img src="assets/images/file.svg" height="70px" alt="">
                   <p >Approved Pre-sales</p>
              </a>
            </div>
            <div class="col-2">
                <a href="assets/test.pdf"> 
                    <img src="assets/images/file.svg" height="70px" alt="">
                   <p >Declined Pre-sales</p>
              </a>
            </div>
          
</div>


      
     
        
    </mat-card-content>
</mat-card>