<div class="row text-center" *ngIf="data">
    <div class="col-12">
      <p class="lead ">Construction close-out Documents for  {{ data.str_name}}</p>
      <hr>
    </div>
   
  </div>
  

  <form [formGroup]="constructionCloseForm" (ngSubmit)="saveConstructionCloseForm()" >


    <div class="form-row mb-3">
        <div class="form-group col-md-6">
            <p class="font-weight-bold mb-0">Practical-Completion Certificate</p>
            <input type="file"
            id="file">
          
          </div>

          <div class="form-group col-md-6">
              <p class="font-weight-bold mb-0">Final-Completion Certificate</p>
              <input type="file"
              id="file">
            
            </div>
</div>


    <div class="form-row mb-3">
        <div class="form-group col-md-6">
            <p class="font-weight-bold mb-0">Statement of Final Account</p>
            <input type="file"
            id="file">
          
          </div>

          <div class="form-group col-md-6">
              <p class="font-weight-bold mb-0">Fire Compliance Certificate</p>
              <input type="file"
              id="file">
            
            </div>
       
</div>



    <div class="form-row mb-3">
        <div class="form-group col-md-6">
            <p class="font-weight-bold mb-0">Electrical Compliance Certificate</p>
            <input type="file"
            id="file">
          
          </div>

          <div class="form-group col-md-6">
              <p class="font-weight-bold mb-0"></p>
              <input type="file"
              id="file">
            
            </div>
       
</div>


    <div class="form-row mb-3">
        <div class="form-group col-md-12">
            <p class="font-weight-bold mb-0">Engineers certificate - structural building elements, components and external civil works</p>
            <input type="file"
            id="file">
          
          </div>
       
</div>


<div class="row">
    <div class="col-md-6 offset-md-6">
      <button mat-raised-button class="float-right" color="accent" type="submit"> <mat-icon>backup</mat-icon>	&nbsp;&nbsp;Save Documents</button>
    </div>
     
   </div>

</form>