<mat-card>
    <mat-card-header>
        <mat-card-title>
            Documents For Yena
        </mat-card-title>
    </mat-card-header>


    <mat-card-content>

<div class="row">
    <div class="col-12">
        <button mat-raised-button class="float-right mb-5" (click)="listProperty()" color="accent" > <mat-icon>keyboard_backspace</mat-icon>	&nbsp;&nbsp;List Documents</button>
     
    </div>
</div>
       
        
        <div class="row text-center">
            <div class="col-3">
              <a [routerLink]="['/property/viewMarketAnalysis']" href="javascript:void()"> 
                  <img src="assets/images/folder.svg" height="70px" alt="">
                 <p >Market Analysis</p>
            </a> 
            </div>
            <div class="col-3">
                <a [routerLink]="['/property/viewSiteAcquisition']" href="javascript:void()" viewSiteAcquisition> 
                    <img src="assets/images/folder.svg" height="70px" alt="">
                   <p >Site Acquisition</p>
              </a>
            </div>
            <div class="col-3">
                <a [routerLink]="['/property/viewPlanning']" href="javascript:void()"> 
                    <img src="assets/images/folder.svg" height="70px" alt="">
                   <p >Planning & Engineering</p>
              </a>
            </div>
            <div class="col-3">
                <a [routerLink]="['/property/viewApproved']" href="javascript:void()"> 
                    <img src="assets/images/folder.svg" height="70px" alt="">
                   <p >Municipal Approval Documents</p>
              </a>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-3">
              <a [routerLink]="['/property/viewFinance']" href="javascript:void()"> 
                  <img src="assets/images/folder.svg" height="70px" alt="">
                 <p >Financing</p>
            </a> 
            </div>
            <div class="col-3">
                <a [routerLink]="['/property/viewConstruction']" href="javascript:void()"> 
                    <img src="assets/images/folder.svg" height="70px" alt="">
                   <p >Construction</p>
              </a>
            </div>
            <div class="col-3">
                <a [routerLink]="['/property/viewConstructionClose']" href="javascript:void()"> 
                    <img src="assets/images/folder.svg" height="70px" alt="">
                   <p >Construction Close Out</p>
              </a>
            </div>
            <div class="col-3">
                <a [routerLink]="['/property/viewLoan']" href="javascript:void()"> 
                    <img src="assets/images/folder.svg" height="70px" alt="">
                   <p >Long Term Loan</p>
              </a>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-3">
              <a [routerLink]="['/property/viewMarketing']" href="javascript:void()"> 
                  <img src="assets/images/folder.svg" height="70px" alt="">
                 <p >Marketing</p>
            </a> 
            </div>

            </div>
        
    </mat-card-content>
</mat-card>