<mat-card>
    <mat-card-header>
        <mat-card-title>
            Yena Finance Documents
        </mat-card-title>
    </mat-card-header>


    <mat-card-content>

<div class="row">
    <div class="col-12">
        <button mat-raised-button class="float-right mb-5" (click)="viewProperty()" color="accent" > <mat-icon>keyboard_backspace</mat-icon>	&nbsp;&nbsp;List Documents</button>
     
    </div>
</div>
       
        
        <div class="row text-center">
            <div class="col-2">
              <a href="assets/test.pdf"> 
                  <img src="assets/images/file.svg" height="70px" alt="">
                 <p >Company organogram </p>
            </a> 
            </div>
            <div class="col-2">
                <a href="assets/test.pdf"> 
                    <img src="assets/images/file.svg" height="70px" alt="">
                   <p >Directors/shareholders CV’s</p>
              </a>
            </div>
            <div class="col-2">
                <a href="assets/test.pdf"> 
                    <img src="assets/images/file.svg" height="70px" alt="">
                   <p >Assets & Liabilities Statement</p>
              </a>
            </div>
            <div class="col-2">
                <a href="assets/test.pdf"> 
                    <img src="assets/images/file.svg" height="70px" alt="">
                   <p >Management Accounts</p>
              </a>
            </div>
            <div class="col-2">
                <a href="assets/test.pdf"> 
                    <img src="assets/images/file.svg" height="70px" alt="">
                   <p >Incorporation documents </p>
              </a>
            </div>
            <div class="col-2">
                <a href="assets/test.pdf"> 
                    <img src="assets/images/file.svg" height="70px" alt="">
                   <p >List of Professional Team</p>
              </a>
            </div>
</div>


        <div class="row text-center">
            <div class="col-2">
              <a href="assets/test.pdf"> 
                  <img src="assets/images/file.svg" height="70px" alt="">
                 <p >Professional Teams Indemnity Covers </p>
            </a> 
            </div>
            <div class="col-2">
                <a href="assets/test.pdf"> 
                    <img src="assets/images/file.svg" height="70px" alt="">
                   <p >Main Contractors Waiver of Lien</p>
              </a>
            </div>
            <div class="col-2">
                <a href="assets/test.pdf"> 
                    <img src="assets/images/file.svg" height="70px" alt="">
                   <p >Sub-Contractors Waiver of Lien</p>
              </a>
            </div>
            <div class="col-2">
                <a href="assets/test.pdf"> 
                    <img src="assets/images/file.svg" height="70px" alt="">
                   <p >Contractors All Risk Insurance</p>
              </a>
            </div>
            <div class="col-2">
                <a href="assets/test.pdf"> 
                    <img src="assets/images/file.svg" height="70px" alt="">
                   <p >Cashflow projection</p>
              </a>
            </div>
           
</div>

<div class="row text-center">
    <div class="col-2">
      <a href="assets/test.pdf"> 
          <img src="assets/images/file.svg" height="70px" alt="">
         <p >Tenanting schedule </p>
    </a> 
    </div>

    <div class="col-2">
      <a href="assets/test.pdf"> 
          <img src="assets/images/file.svg" height="70px" alt="">
         <p >Tenant details</p>
    </a> 
    </div>


    </div>
      
     
        
    </mat-card-content>
</mat-card>