<mat-card>
    <mat-card-header>
        <mat-card-title>
            Properties List
        </mat-card-title>
    </mat-card-header>


    <mat-card-content>

        <button mat-raised-button class="float-right mb-3" (click)="addProperty()" color="accent" > <mat-icon>add</mat-icon>	&nbsp;&nbsp;Add Property</button>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Street Name</th>
                <th scope="col">Property Name</th>
                <th scope="col">Parcel No</th>
                <th scope="col">Action</th>
              </tr>
            </thead>

              <tbody>
                <tr>
                    <th >1321</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td></td>
                  </tr>

              </tbody>
        </table>

             
    </mat-card-content>
</mat-card>