<mat-card>
    <mat-card-header>
        <mat-card-title>
            Properties List
        </mat-card-title>
    </mat-card-header>


    <mat-card-content>

        <button mat-raised-button class="float-right mb-3" (click)="addProperty()" color="accent" > <mat-icon>add</mat-icon>	&nbsp;&nbsp;Add Property</button>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Street Name</th>
                <th scope="col">Property Name</th>
                <th scope="col">Parcel No</th>
                <th scope="col">Action</th>
              </tr>
            </thead>

              <tbody>
                <tr>
                    <th >121</th>
                    <td>KHANKANYA</td>
                    <td>OttKHAYELITSHA</td>
                    <td>602529</td>
                    <td> 
                     <button mat-icon-button color="primary" (click)="viewPropery()" style="height:0px; margin-top:-10px" aria-label="Example icon button with a plus one icon">
                        <mat-icon>file_copy</mat-icon>
                      </button></td>
                  </tr>
                <tr>
                    <th >122</th>
                    <td>YENA</td>
                    <td>KHAYELITSHA</td>
                    <td>62529</td>
                     <td> 
                     <button mat-icon-button color="primary" (click)="viewPropery()" style="height:0px; margin-top:-10px" aria-label="Example icon button with a plus one icon">
                        <mat-icon>file_copy</mat-icon>
                      </button></td>
                  </tr>
                <tr>
                    <th >130</th>
                    <td>HANGLA</td>
                    <td>KHAYELITSHA</td>
                    <td>602529</td>
                     <td> 
                     <button mat-icon-button color="primary" (click)="viewPropery()" style="height:0px; margin-top:-10px" aria-label="Example icon button with a plus one icon">
                        <mat-icon>file_copy</mat-icon>
                      </button></td>
                  </tr>
                <tr>
                    <th >121</th>
                    <td>SHUKMA</td>
                    <td>KHAYELITSHA</td>
                    <td>60259</td>
                     <td> 
                     <button mat-icon-button color="primary" (click)="viewPropery()" style="height:0px; margin-top:-10px" aria-label="Example icon button with a plus one icon">
                        <mat-icon>file_copy</mat-icon>
                      </button></td>
                  </tr>
                <tr>
                    <th >121</th>
                    <td>NCWADI</td>
                    <td>KHAYELITSHA</td>
                    <td>602529</td>
                     <td> 
                     <button mat-icon-button color="primary" (click)="viewPropery()" style="height:0px; margin-top:-10px" aria-label="Example icon button with a plus one icon">
                        <mat-icon>file_copy</mat-icon>
                      </button></td>
                  </tr>
                <tr>
                    <th >121</th>
                    <td>KHANKANYA</td>
                    <td>OttKHAYELITSHA</td>
                    <td>602529</td>
                     <td> 
                     <button mat-icon-button color="primary" (click)="viewPropery()" style="height:0px; margin-top:-10px" aria-label="Example icon button with a plus one icon">
                        <mat-icon>file_copy</mat-icon>
                      </button></td>
                  </tr>
                <tr>
                    <th >122</th>
                    <td>YENA</td>
                    <td>KHAYELITSHA</td>
                    <td>62529</td>
                     <td> 
                     <button mat-icon-button color="primary" (click)="viewPropery()" style="height:0px; margin-top:-10px" aria-label="Example icon button with a plus one icon">
                        <mat-icon>file_copy</mat-icon>
                      </button></td>
                  </tr>
                <tr>
                    <th >130</th>
                    <td>HANGLA</td>
                    <td>KHAYELITSHA</td>
                    <td>602529</td>
                     <td> 
                     <button mat-icon-button color="primary" (click)="viewPropery()" style="height:0px; margin-top:-10px" aria-label="Example icon button with a plus one icon">
                        <mat-icon>file_copy</mat-icon>
                      </button></td>
                  </tr>
                <tr>
                    <th >121</th>
                    <td>SHUKMA</td>
                    <td>KHAYELITSHA</td>
                    <td>60259</td>
                     <td> 
                     <button mat-icon-button color="primary" (click)="viewPropery()" style="height:0px; margin-top:-10px" aria-label="Example icon button with a plus one icon">
                        <mat-icon>file_copy</mat-icon>
                      </button></td>
                  </tr>
                <tr>
                    <th >121</th>
                    <td>NCWADI</td>
                    <td>KHAYELITSHA</td>
                    <td>602529</td>
                     <td> 
                     <button mat-icon-button color="primary" (click)="viewPropery()" style="height:0px; margin-top:-10px" aria-label="Example icon button with a plus one icon">
                        <mat-icon>file_copy</mat-icon>
                      </button></td>
                  </tr>
               

              </tbody>
        </table>

             
    </mat-card-content>
</mat-card>