
 <form [formGroup]="planningForm" (ngSubmit)="savePlanningForm()" >
  

    <div class="form-row mb-3">


              <div class="form-group col-md-6">
                  <p class="font-weight-bold mb-0">Professional team service level agreements</p>
                  <input type="file"
                  id="file" >
                
                </div>
              <div class="form-group col-md-6">
                  <p class="font-weight-bold mb-0">Architects drawings</p>
                  <input type="file"  >
               
                </div>
      </div>


      <div class="form-row mb-3">

          <div class="form-group col-md-6">
              <p class="font-weight-bold mb-0">Engineers Drawings</p>
              <input type="file"   >
           
            </div>
          <div class="form-group col-md-6">
              <p class="font-weight-bold mb-0">Municipal submission drawings</p>
              <input type="file"   >
           
            </div>
  </div>


  <div class="form-row">

      <div class="form-group col-md-6">
          <p class="font-weight-bold mb-0">Geotechnical Report </p>
          <input type="file"  >
        </div>

      <div class="form-group col-md-6">
          <p class="font-weight-bold mb-0">Tender documents</p>
          <input type="file"  >
        </div>
</div>

  <div class="form-row">

      <div class="form-group col-md-6">
          <p class="font-weight-bold mb-0">Contractors Appointment letter</p>
          <input type="file"  >
        </div>

      <div class="form-group col-md-6">
          <p class="font-weight-bold mb-0">Signed Contractual Document for Main Contractor (JBCC)</p>
          <input type="file"  >
        </div>
</div>

  <div class="form-row">

      <div class="form-group col-md-6">
          <p class="font-weight-bold mb-0">Bill Of Quantities</p>
          <input type="file"  >
        </div>

      <div class="form-group col-md-6">
          <p class="font-weight-bold mb-0">Direct Contracts</p>
          <input type="file"  >
        </div>
</div>

  <div class="form-row">

      <div class="form-group col-md-6">
          <p class="font-weight-bold mb-0">Sub-Contractors documents</p>
          <input type="file"  >
        </div>

      <div class="form-group col-md-6">
          <p class="font-weight-bold mb-0">Finalised Feasibility Study</p>
          <input type="file"  >
        </div>
</div>

<div class="row">
 <div class="col-md-6 offset-md-6">
   <button mat-raised-button class="float-right" color="accent" type="submit"> <mat-icon>backup</mat-icon>	&nbsp;&nbsp;Save Documents</button>
 </div>
  
</div>
  </form> 
