<div fxLayout="row" fxLayoutAlign="center center">

    <div fxFlex="60">
        
        <mat-card style="height: 900px; margin-bottom: 300px">
            <mat-card-header >

                <mat-card-title>Add Property</mat-card-title>
            </mat-card-header>

            <mat-card-content>


         <div class="row">
                <div class="col-3">
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-site-tab" data-toggle="pill" href="#v-pills-site" role="tab" aria-controls="v-pills-site" aria-selected="false">Site Analysis</a>
                   
                    <a class="nav-link" id="v-pills-market-tab" data-toggle="pill" href="#v-pills-market" role="tab" aria-controls="v-pills-market" aria-selected="false" #market>Market Analysis</a>

                    <a class="nav-link" id="v-pills-aquisition-tab" data-toggle="pill" href="#v-pills-aquisition" role="tab" aria-controls="v-pills-aquisition" aria-selected="false" #site>Site Acquisition</a>

                    <a class="nav-link" id="v-pills-planning-tab" data-toggle="pill" href="#v-pills-planning" role="tab" aria-controls="v-pills-planning" aria-selected="false" #planning>Planning & Engineering</a>

                    <a class="nav-link" id="v-pills-approved-tab" data-toggle="pill" href="#v-pills-approved" role="tab" aria-controls="v-pills-approved" aria-selected="false" #approved>Approved Documents</a>

                    

                    <a class="nav-link" id="v-pills-finance-tab" data-toggle="pill" href="#v-pills-finance" role="tab" aria-controls="v-pills-approved" aria-selected="false" #finance>Finance Documents</a>


                    <a class="nav-link" id="v-pills-marketing-tab" data-toggle="pill" href="#v-pills-marketing" role="tab" aria-controls="v-pills-marketing" aria-selected="false" #marketing>Marketing</a>

                    <a class="nav-link" id="v-pills-construction-tab" data-toggle="pill" href="#v-pills-construction" role="tab" aria-controls="v-pills-construction" aria-selected="false" #construction>Construction Documents</a>


                    <a class="nav-link" id="v-pills-construction-close-tab" data-toggle="pill" href="#v-pills-construction-close" role="tab" aria-controls="v-pills-construction-close" aria-selected="false" #constructionClose>Construction Close Out</a>


                    <a class="nav-link" id="v-pills-loan-tab" data-toggle="pill" href="#v-pills-loan" role="tab" aria-controls="v-pills-loan" aria-selected="false" #loan>Long Term Loan</a>



                  </div>
                </div>
                <div class="col-9">
                  <div class="tab-content" id="v-pills-tabContent">
                   

                    <div class="tab-pane fade show active" id="v-pills-site" role="tabpanel" aria-labelledby="v-pills-site-tab"> 
                      
                      <div style="height: 200px !important; width: 100% !important">

                        <app-map  (mapResponse)="handleMapResponse($event)"></app-map>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-market" role="tabpanel" aria-labelledby="v-pills-market-tab">
                      <div>

                        <app-market-analysis   [propId]="id" [data]="data"  (marketResponse)="handleMarketResponse($event)"></app-market-analysis>
                      </div>

                    </div>

                    <div class="tab-pane fade" id="v-pills-planning" role="tabpanel" aria-labelledby="v-pills-planning-tab">
                     <app-planning (planningResponse)="handlePlanningResponse($event)" [data]="data" ></app-planning>

                    </div>

                    <div class="tab-pane fade" id="v-pills-aquisition" role="tabpanel" aria-labelledby="v-pills-acquisition-">
                     <app-site-acquisition  [propId]="id"  [data]="data"  (acquisitionResponse)="handleAcquisitionResponse($event)"></app-site-acquisition>

                    </div>

                    <div class="tab-pane fade" id="v-pills-approved" role="tabpanel" aria-labelledby="v-pills-approved-tab"> 

                      <app-approved [data]="data"  (approvedResponse)="handleApproveResponse($event)"></app-approved>
                    </div>

                    <div class="tab-pane fade" id="v-pills-finance" role="tabpanel" aria-labelledby="v-pills-approved-tab"> 

                      <app-finance [data]="data"  (financeResponse)="handleFinanceResponse($event)"></app-finance>
                    </div>
                    
                    <div class="tab-pane fade" id="v-pills-marketing" role="tabpanel" aria-labelledby="v-pills-marketing-tab"> 

                      <app-marketing [data]="data"  (marketingResponse)="handleMarketingResponse($event)"></app-marketing>
                    </div>

                    <div class="tab-pane fade" id="v-pills-construction" role="tabpanel" aria-labelledby="v-pills-construction-tab"> 

                      <app-construction [data]="data"  (constructionResponse)="handleConstructionResponse($event)"></app-construction>
                    </div>

                    <div class="tab-pane fade" id="v-pills-construction-close" role="tabpanel" aria-labelledby="v-pills-construction-close-tab"> 
                      <app-construction-close [data]="data"  (constructionCloseResponse)="handleConstructionCloseResponse($event)"></app-construction-close>
                    </div>

                    <div class="tab-pane fade" id="v-pills-loan" role="tabpanel" aria-labelledby="v-pills-loan-tab"> 
                      <app-loan [data]="data"  (loanResponse)="handleLoanResponse($event)"></app-loan>
                    </div>

                  </div>
                </div>
              </div> 


                
                <!-- <mat-horizontal-stepper #stepper>
                    
                    <mat-step >
                       
                      <ng-template matStepLabel>Site Selection</ng-template>
                      <div style="height: 400px; width: 100%">

                        <app-map></app-map>
                      </div>
                     <div class="float-right">
                     
                      <button mat-raised-button matStepperNext color="primary">Next</button>
                    </div>

                        </mat-step>

                        <mat-step [stepControl]="">

                          <ng-template matStepLabel>Market Analysis</ng-template>
                          <app-market-analysis  (response)="marketResponse($event)"></app-market-analysis>
                           

                        </mat-step>

                        <mat-step [stepControl]="">
                            <ng-template matStepLabel>Site Acquisition</ng-template>
                            <div class="form-row mb-3">


                                <div class="form-group col-md-6">
                                    <p class="font-weight-bold mb-0">Land Purchase Agreement</p>
                                    <input type="file"
                                    id="file">
                                  
                                  </div>
                                <div class="form-group col-md-6">
                                    <p class="font-weight-bold mb-0">Sellers Documentation</p>
                                    <input type="file"  >
                                 
                                  </div>

                                  <div class="float-right">
                           
                                    <button mat-raised-button matStepperNext color="primary">Next</button>
                                  </div>
                        </div>


                        </mat-step>

                        <mat-step [stepControl]="">
                            <ng-template matStepLabel>Site Selection</ng-template>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus magni architecto aspernatur, mollitia assumenda consequuntur laboriosam, repellat similique tempore quos vitae earum consectetur animi sapiente ipsa? Architecto ex ratione laborum.lorem

                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus magni architecto aspernatur, mollitia assumenda consequuntur laboriosam, repellat similique tempore quos vitae earum consectetur animi sapiente ipsa? Architecto ex ratione laborum.lorem

                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus magni architecto aspernatur, mollitia assumenda consequuntur laboriosam, repellat similique tempore quos vitae earum consectetur animi sapiente ipsa? Architecto ex ratione laborum.lorem

                        </mat-step>

                

                 

                    </mat-horizontal-stepper>
               -->
             
                  </mat-card-content>
            </mat-card>


    </div>

</div>
